/*Tamaño imagen Correo Electronico*/
.contactoPng {
    width: 100px;
    margin-left: 150px;
}


/*Tamaño imagen Telefono*/
.contactoPng2 {
    width: 100px;
    margin-left: 470px;
    margin-top: -135px;
}

/*Tamaño imagen Ubicacion*/
.contactoPng3 {
    width: 100px;
    margin-left: 790px;
    margin-top: -135px
}

/*Texto correo*/
#correo {

    margin-left: 100px;

}

/*Texto telefono*/
#telefono {
    margin-left: 400px;
    margin-top: -35px;
}

/*Texto ubicacion*/
#direccion {

    margin-left: 700px;
    margin-top: -35px;
}

/*Texto informativo*/
#colegio {
    width: 900px;
    max-height: 800px;
    border: 2px solid red;
    padding: 20px;
    background-color: transparent;
    column-count: 1;
    margin: 0 auto;
    margin-top: 50px;
}


/*Menu acceder*/
#menu_registro {
    margin-top: -100px;
    height: 550px;
}

/*Mapa ubicacion*/
#mapa {
    margin-left: 220px;
    padding-bottom: 50px;
}

/*Formulario contacto*/
#contactanos {

    margin-left: 320px;
    padding-bottom: 50px;
}

/*Titulos*/
h2 {
    width: 1024px;
    padding: 10 20 10 20;
    text-align: center;
    background-color: #AA1111;
    color: white;
}



/* Responsive */
@media screen and (max-width:900px) {


    /*Texto informativo*/
    #colegio {
        margin-left: 10%;
    }

    /*Formulario de contacto*/
    #contactanos {
        margin-left: 10px;
    }

}

@media screen and (max-width:600px) {

    /*Texto informativo*/
    #colegio {
        margin-left: 0;
        width: 500px;
    }

    /*Formulario de contacto*/
    #contactanos {
        margin-left: 10%;
        margin-right: 10%;
        width: 500px;
    }

    h2 {
        text-align: left;
    }


    /*Tamaño imagen Correo Electronico*/
    .contactoPng {
        width: 100px;
        margin-left: 150px;
    }


    /*Tamaño imagen Telefono*/
    .contactoPng2 {
        width: 100px;
        margin-left: 150px;
        margin-top: 10px;
    }

    /*Tamaño imagen Ubicacion*/
    .contactoPng3 {
        width: 100px;
        margin-left: 150px;
        margin-top: 10px
    }

    /*Texto correo*/
    #correo {

        margin-left: 100px;

    }

    /*Texto telefono*/
    #telefono {
        margin-left: 100px;
        margin-top: 10px;
    }

    /*Texto ubicacion*/
    #direccion {

        margin-left: 100px;
        margin-top: 10px;
    }

    #mapa {
        margin-left: 25px;
        width: 500px;

    }

}
