h2 {
    width: 1024px;
    padding: 10 20 10 20;
    text-align: center;
    background-color: red;
    color: white;
}


#formulario {
    width: 600px;
    margin: 0 auto;
    border: 2px solid red;
    padding: 20px;
    background-color:bisque;
}

#form1, #form2{
    
    column-count: 2;
}

#formulario input,
#formulario label {
    margin-left: 20px;
}
